<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="filelocation" value="c:\tmp\"/>
		<add key="sourcematch" value="externaldisk.txt" />
		<add key="targetmatch" value="lokaal.txt" />
		<add key="matchsource" value="remotefile-" />
		<add key="matchtarget" value="localfile-"/>
		<!--
		above is used for multiple files e.g.:
		remotefile-001.txt
		localfile-001.txt
		
		matchsource should be remotefile
		matchtarget should be localfile
		-->
		<add key="foldermatchvalue" value="klantenmap"/>
	</appSettings>
</configuration>